<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spis Książek</title>

</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Spis Książek - Import z Google</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('main') }}">Spis Ksiażek</a></li>
                        <li><a href="{{ url_for('google') }}">Import z Google</a> </li>
                        <li><a href="{{ url_for('formatka') }}">Import z Formularza</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>
    <form method="POST">
        <table>
            <tr>
                <td>Podaj słowo kluczowe</td><td> <input type="text" name="skluczowe"></td>
            </tr>
            </table>
    <input type="submit" value="Submit">

    </form>
    <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>ID</td>
                <td>Tytul</td>
                <td>Autor</td>
                <td>Kategoria</td>
                <td>Opis</td>
            </tr>
        {% for row in data %}
            <tr>
            {% for d in row %}
                <td>{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>